// POSTNOBILLSJAFFNA

@font-face {
  font-family: "PostNoBillsJaffna";
  src: url("/fonts/postNoBillsJaffna/PostNoBillsJaffna-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// POPPINS

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
