@keyframes jump-action {
  0% {
    bottom: 180px;
  }
  50% {
    bottom: 360px;
  }
}

@keyframes obstaclesmove {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1500px);
  }
}

@keyframes enemyMove {
  from {
    transform: translateX(1280px);
  }
  to {
    transform: translateX(-60px);
  }
}

@keyframes defile {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -6395px 0px;
  }
}

body.game {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/game/game_page.png);
  animation: defile 10s linear infinite;
}

.try {
  height: 750px;
  width: 100%;
  position: relative;
}

.james {
  background: url("../img/game/run.gif") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 180px;
  left: 50px;
  //  border: 2px solid red;
}

.jump {
  animation-name: jump-action;
  animation-duration: 1s;
}

.bend {
  background: url("../img/game/roll.gif") no-repeat;
  background-size: cover;
  width: 30px;
  height: 40px;
  left: 60px;
}

.obstacles {
  position: absolute;
  right: -200px;
  bottom: 180px;
}

.obstacles__coffee {
  background: url("../img/game/coffee.png") no-repeat;
  background-size: cover;
  width: 70px;
  height: 49px;
}

.obstacles__table {
  background: url("../img/game/table.png") no-repeat;
  background-size: cover;
  width: 100px;
  height: 40px;
}

.obstacles__chair {
  background: url("../img/game/chair.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 60px;
}

.obstacles__proj {
  background: url("../img/game/projecteur.gif") no-repeat;
  background-size: cover;
  width: 80px;
  height: 220px;
  bottom: 230px;
}

.obstacles__move {
  animation: linear obstaclesmove 4s;
}

.ennemy {
  background: url("../img/game/student.gif") no-repeat;
  background-size: cover;
  //  border: 2px solid red;
  width: 90px;
  height: 100px;
  position: absolute;
  bottom: 180px;
  left: 0px;
}

.ennemy__move {
  animation: linear enemyMove 50s forwards;
}

.bonus {
  width: 50px;
  height: 50px;
  bottom: 190px;
  position: absolute;
}

.bonus--birdies {
  background: url("../img/game/beer.png") no-repeat;
  background-size: cover;
  width: 16px;
  height: 50px;
}

.bonus--water {
  background: url("../img/game/gourd.png") no-repeat;
  background-size: cover;
  width: 22px;
  height: 50px;
}

.bonus__move {
  animation: linear enemyMove 4s forwards;
}

.invicible {
  background: url("../img/game/invicible.gif") no-repeat;
  background-size: cover;
}

.score {
  color: #2cae2c;
}

.money {
  background: url("../img/game/money.png") no-repeat;
  background-size: cover;
  width: 70px;
  height: 50px;
  left: 110px;
  top: 5px;
  position: absolute;
}

.title_game_page {
  text-align: center;
  font-weight: bold;
  font-size: 65px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

.sous-titre_game_page {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 45px;
  font-family: "Poppins", sans-serif;
}

.try__menu {
  text-align: right;
  margin-top: -15px;
  line-height: 50px;
  margin-right: 15px;
}

.soundControlIcon {
  width: 55px;
  margin-top: -15px;
  margin-right: -5px;
}

.homePageIcon--gamePage {
  width: 50px;
  margin-top: 35px;
  margin-right: -5px;
  background-image: url("../img/game/Home.png");
  position: static;
}

.try__restartIcon {
  width: 38px;
  margin-top: 10px;
  margin-right: 3px;
}

.score_temps {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: -140px;
  margin-left: 10px;
}
